#user-template-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

#user-template-grid a {
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#user-template-grid a h5 {
    font-size: 20px;
    font-weight: bold;
}

#user-template-grid a h6 {
    font-size: 18px;
    font-weight: lighter;
}

#user-template-grid a footer {
    display: flex;
    justify-content: space-between;
}

#user-template-grid a footer div {
    display: flex;
    gap: 5px;
}