.draggable-element {
    user-select: none;
    display: none;
}

.dragging {
    pointer-events: auto;
}

#element-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: var(--elementbar-width);
    padding: 10px;
    overflow: auto;
    border-radius: 10px;
    outline: 1px solid black;
    margin: 0 var(--dashboard-spacing) var(--dashboard-spacing) 0;
    height: calc(100vh - var(--navbar-height) - var(--dashboard-spacing) * 3);
}

#element-container #element-menu .element-box {
    border-radius: 10px;
    outline: 1px solid black;
    padding: 8px;
}

#template-container {
    left: calc(var(--elementbar-width) + var(--dashboard-spacing));
    width: calc(100% - var(--elementbar-width) - var(--dashboard-spacing));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#drop-container {
    outline: 1px solid black;
    position: relative;
    overflow: hidden;
}

#drop-container[data-template-category="resume"] {
    width: 8.27in;
    height: 11.7in;
}

#drop-container[data-template-category="visiting-card"] {
    width: 3.5in;
    height: 2in;
}

.selected-element {
    outline: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}


@media (max-width: 320px) {
    #element-container {
        width: 10px;
    }
}

@media print {
    body {
        visibility: hidden;
        position: relative;
    }

    #template-container {
        position: inherit;
        visibility: hidden;
    }

    #drop-container {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}